@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default .navbar-brand {
  font-family: 'lobster_1.3regular';
  font-size: 40px;
  color: #7eaba6;
  font-weight: 600;
}

.spot-box {
  text-align: center;
}

.spot-box .form-box {
  display: inline-block;
  text-align: left;
}

h1 {
  text-align: center;
  font-family: 'merriweather_ultraboldregular';
}

#map {
  height: 300px;
}
